.bodyContainer{
    color: black;
    display: grid;
    grid-template-columns: 15% 80%;
    grid-gap: 20px;
}

.footer{
    text-align: center;
}

.header{
    text-align: center;
}

.left{
    color: black;
}

.right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.avatarImage{
    border-radius: 50%;
    width: 150px;
    float: left;
}